.road 
{
width: 100%;
height: 200px;
background: #222;
position: relative;
overflow: hidden;
}


.wheel 
{
width: 120px;
height: 120px;
background: gray;
border-radius: 50%;
border: 12px solid black;
position: absolute;
bottom: 20px;
left: -150px;
animation: roll 5s linear infinite;
}


@keyframes roll 
{
0% 
{
transform: rotate(0deg);
left: -150px;
}
100% 
{
transform: rotate(1080deg); 
left: 110%;
}
}
