#layout 
{
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}


#menu 
{
    position: absolute;
    top: 3%;
    left: 1%;
    z-index: 50;
}

#menu ul 
{
    padding: 0;
    margin: 0;
}

#menu li 
{
    list-style-type: none;
    margin-bottom: 10%;
}

#menu > ul > li 
{
    position: relative;
    display: block;
}

#menu ul li a 
{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px 10px;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin: 0px 0px;
    font: bold 20px sans-serif;
    transition: all 0.3s ease;
}

#menu ul li a:hover 
{
    background-color: #ff0000;
    color: white;
    transform: scale(1.05);
}


#menu ul ul 
{
    position: absolute;
    top: 10px;
    left: calc(100% + 10px);
    width: 100%;
    background: transparent;
    display: none;
    z-index: 1000;
    background-color: beige;
}

#menu ul ul li 
{
    width: 100%;
}

#menu ul ul a 
{
    border-radius: 100px;
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
}

#menu ul ul a:hover 
{
    background-color: #ff0000;
}

#menu ul li:hover > ul 
{
    display: block;
}


#header 
{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}


#header-images 
{
    width: 100%;
    height: 100%;
    display: flex;
}

#header-images img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;               
    margin: 0;             
    padding: 0;
}


#header-title 
{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px 10px black;
    margin: 0;
    z-index: 30;
}


.kis-kep 
{
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

span#kotelezo-1 
{
    color: red;
}

footer {
    text-align: center;
    margin-top: 15%;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: brown;
}



.bemutato 
{
    width: 60%;            
    margin-left: 8%;     
    margin-top: 3%;
    margin-bottom: 2%;   

    background: #f7f7f7;
    border: 5px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 500px;
    background-color: grey;
    
}
.kamionokrol
{
    width: 60%;            
    margin-left: 8%;     
    margin-top: 3%;
    margin-bottom: 2%;   

    background: #f7f7f7;
    border: 5px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 500px;
    background-color: grey;
    
}

.jobbkep
{
    float: right;         
    margin-left: 15px;    
    margin-bottom: 10px;
    width: 20%;         
}
.balkep
{
    float: left;         
    margin-left: 15px;    
    margin-bottom: 10px;
    width: 20%;         
}


.kepbox 
{
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 100%;
}
.kepek figure 
{
    margin: 0 0 20px 0;
    text-align: center;
}

.kepek img 
{
    display: block;
    margin: 0 auto;
}

.kepek figcaption 
{
    margin-top: 1%;
    font-size: 30px;
    color: #ffffff;
}


.jobb-oszlop {
    position: absolute;
    top: 398px;
    right: 3%;
    width: 20%;
    border: 5px solid #ccc;
    overflow-y: auto;
    max-height: 1125px;
}

.linkek
{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center; 
    margin-top: 1%;
}
.linkek1, .linkek2, .linkek3 
{
    border: 5px solid #ccc;
    background-color: grey;
    width: 100%;      
    height: 30%;      
    display: flex;
    align-items: center;
    justify-content: center;
}
footer
{
    margin-top: 1%;
}